@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

body {
    color: #ededed; 
}

footer {
    background-color: #2b2b2b;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 25px; 
}

/* --- Header --- */ 
header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 75px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    transition: 0.6s; 
    padding: 20px 10%; 
    z-index: 100; 
}

header.sticky {
    background: #fff; 
}

header .logo {
    position: relative; 
    font-weight: 700; 
    text-decoration: none; 
    font-size: 2em; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s; 
    color: white; 
}

header ul {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

header ul li {   
    position: relative; 
    list-style: none; 
}

header ul li a {
    position: relative; 
    margin: 0 15px; 
    text-decoration: none; 
    color: black; 
    letter-spacing: 2px; 
    font-weight: 500; 
    margin-left: 20px; 
    transition: 0.6s; 
    text-decoration: underline;
    text-underline-offset: 6px; 
}

header li a:hover, 
header li a:active {
    color: rgb(246, 72, 72); 
}

header.sticky li a:hover, 
header.sticky li a:active {
    color: rgb(246, 72, 72); 
}

header.sticky {
    box-shadow: 0px 2px 4px rgb(160, 157, 157);
}

header.sticky .logo, 
header.sticky.nav-menu li a {
    color: #000; 
}

/* ------------ hamburger menu ------------ */ 
.hamburger {
    display: none; 
    z-index: 102; 
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 27px;
        align-self: flex-end;
        cursor: pointer; 
    }
    .hamburger:hover{
        color: rgb(246, 72, 72);
        transition: all 0.5s ease;
    }

    #nav-list {
        display: flex;
        position: fixed;
        top: 0;
        height: 100%;
        width: 65%;
        background-color: #f5f1f1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 101;
        right: -100%; /* Initially, off-screen to the right */
        transition: right 0.8s ease-in-out;
        
    }

    #nav-list.show {
        right: 0; /* Slide in from the right when active */

    }
}

#close-icon {
    display: none;
    font-size: 30px;
}

#close-icon.show {
    display: inline; 
}

#menu-icon.hide {
    display: none; 
}

/* ------------ home page ------------ */ 
.home {
    height: 100vh; 
    background: url('img/background-photo.jpeg') no-repeat;  
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    padding: 0 10%; 
}

.home-content {
    max-width: 600px; 
}

.home-content h1 {
    position: relative;
    display: inline-block;
    opacity: 0;
    font-size: 60px; 
    font-weight: 800; 
    line-height: 1.2;
    padding-bottom: 3px; 
    animation: slideInFromLeft 1.4s ease forwards;
} 

.home-content h3 {
    position: relative; 
    display: flex; 
    opacity: 0; 
    font-size: 18px; 
    font-weight: 500; 
    margin-top: 7px; 
    animation: slideInFromLeft 1.8s ease forwards;
    animation-delay: 1.1s;
}

.home-content p {
    position: relative; 
    display: flex; 
    opacity: 0; 
    font-size: 18px; 
    margin-top: 10px; 
    font-weight: 500; 
    animation: slideInFromLeft 2s ease forwards;
    animation-delay: 1.9s;
}

.home-content .btn-box {
    position: relative; 
    display: flex;
    white-space: no-wrap; 
    overflow: hidden; 
    opacity: 0; 
    justify-content: space-between; 
    height: 50px; 
    animation: slideInFromLeft 2.2s ease forwards;
    animation-delay: 2.7s;
    padding-top: 10px; 
}

.btn-box a {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 150px; 
    border: 2px solid white; 
    border-radius: 8px; 
    font-size: 19px; 
    color: white; 
    text-decoration: none; 
    font-weight: 250; 
    letter-spacing: 1px; 
    z-index: 1; 
    overflow: hidden; 
    transition: .5s; 
}

.btn-box a::before {
    content: '';    
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0%; 
    height: 100%; 
    background: rgb(246, 72, 72); 
    z-index: -1; 
    transition: .5s; 
}

.btn-box a:hover::before {
    width: 100%; 
} 

/* ------------ About me Page ------------ */ 
.home-content {
    position: relative; 
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    margin-bottom: 50px;
}

.information h2 {
    font-size: 50px;
    color: black; 
}

.information p {
    font-size: 21px;
    color: #808080;
    font-weight: 200; 
}

.headshot {
    width: 375px; 
    height: 500px; 
    border-radius: 12px;
    margin-left: 20px; 
    transition: all .75s ease;
}

.headshot:hover {
    transform: scale(1.04);
}

/* --- Portfolio --- */ 

/* portfolio container */ 
.portfolio {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    margin-bottom: 80px; 
}

.portfolio h2 {
    font-size: 50px;
    color: black; 
    margin-bottom: 40px; 
}

.project-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 300px;
    height: 510px; 
    box-shadow: 5px 5px 20px rgb(160, 157, 157);

}

.project-card:hover {
    box-shadow: 5px 5px 25px rgb(171, 35, 35);
    transition: all 1.3s ease; 
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-container h3 {
    color: black; 
    margin: 7px 0; 
    font-weight: 650; 
}
.project-container p {
    color: black; 
    font-weight: 300; 
}
       
.project-image {
    margin-top: 25px;
    width: 225px;
    border-radius: 15px;
    transition: all 0.8s ease; 
}

.project-image:hover{
    transform: scale(1.05); 
}

.style-hr {
    margin-left: 20px;
    margin-right: 20px;
    color: black; 
    height: 3.5px; 
    width: 250px; 
    margin-top: 10px; 
    background-color: black; 
}
/* 
.project-link {
    text-decoration: none;
    color: black;
    border: 2px solid black; 
    border-radius: 8px; 
}

.project-link:hover {
    color: rgb(246, 72, 72); 
} */

.project-card .project-link {
    position: relative; 
    display: flex; 
    white-space: no-wrap; 
    overflow: hidden; 
    opacity: 0; 
    justify-content: center; 
    height: 50px; 
    animation: slideInFromLeft 2.2s ease forwards; 
    padding-top: 15px; 
}

.project-link a {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 125px; 
    border: 2px solid black; 
    border-radius: 8px; 
    font-size: 19px; 
    color: black; 
    text-decoration: none; 
    font-weight: 500; 
    letter-spacing: 1px; 
    overflow: hidden; 
    z-index: 2; 
    transition: .5s; 
}

.project-link a::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0%; 
    height: 100%; 
    background: rgb(243, 118, 118); 
    z-index: -1; 
    transition: .5s;   
}

.project-link a:hover::before {
    width: 100%; 
}

/* ------------ to-top button ------------ */ 
.to-top {
    background: white; 
    position: fixed; 
    bottom: 16px; 
    right: 32px; 
    width: 50px; 
    height: 50px; 
    border-radius: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 32px; 
    color: #1f1f1f; 
    text-decoration: none; 
    opacity: 0; 
    pointer-events: none; 
    transition: all .4s; 
    box-shadow: 2px 2px 10px #626161;
}

.to-top.active {
    bottom: 32px; 
    pointer-events: auto; 
    opacity: 1;     
}

@media only screen and (max-width: 1000px) {
    .sub-section {
        flex-wrap: wrap; 
    }

    .project-container {
        display: flex; 
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .home-content {
        display: flex; 
        flex-wrap: wrap; 
    }
}


@keyframes slideInFromLeft {
    to {
        opacity: 1;
        width: 100%;
    }
}

html{
    scroll-behavior: smooth;
}
